* {
    font-family: Arial;
}



header {
    text-align: center;
}

p {
    font-size: 16px;
    padding: 0 150px 0 150px;
}

/* Row */
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

/* Column */
article {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}

.card-header {
    position: relative;
    margin-top: -20px;
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

code {
    -webkit-user-select: all;
    user-select: all;
    margin: 30px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.code {
    padding: 5px;
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    margin: 4px;
    background-image: linear-gradient
    (
        rgba(232, 102, 236, 0.3) 0%
        rgba(232, 102, 236, 0.6) 100%
    );
}

footer {
    text-align: center;
}











/* h2 {
    text-align: center;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}

.grid.card {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: blue;
    padding: 10px;
} */

